<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="admin">
	
	<!-- 승인 등록 -->
	<insert id="regApproveMember"  parameterType="ApproveDTO">
		insert into approve values(#{approveNo},#{memberNo})
	</insert>
	<delete id="deniedApproveMember" parameterType="int">
		delete from approve where member_no=#{memerNo} 
	</delete>
	<update id="approveMember"  parameterType="ApproveDTO">
		update member set APPROVE = 'Y' where member_no=#{memerNo}
	</update>
	
	<!-- 회원 목록 가져오기 -->
	<select id="memberSearchList" resultType="List">
		select * from member m inner join msp where m.member_no = msp.member_no
	</select>
</mapper>