<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cmi">
	
	<!-- 사진 추가 -->
	<insert id="regCmi" parameterType="commuImageDto">
		insert into cmi
		values(
			#{cmiNo}, #{imageNo}, #{commuNo}
		)
	</insert>
	
	<!-- 단일조회 -->
	<select id="getCmi" parameterType="int" resultType="CommuImageDTO">
		select * from cmi where image_no = #{imageNo}
	</select>
	
	<!-- 삭제하기 -->
	<delete id="deleteImage">
		delete cmi where image_no = #{imageNo}
	</delete>
</mapper>