<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="commu">
	
	<!-- 시퀀스 번호 가져오기 -->
	<select id="sequence">
		select commu_seq.nextval from dual
	</select>
	
	<!-- 글쓰기 -->
	<insert id="write" parameterType="commuDto">
		insert into commu(
			commu_no, member_no, middlename,
			title, content, viewyn
		)
		values(
			#{commuNo}, #{memberNo}, #{middleName},
			#{title}, #{content}, #{viewyn}
		)
	</insert>
</mapper>