<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="crp">
	
	<!-- 시퀀스 번호 가져오기 -->
	<select id="sequence">
		select crp_seq.nextval from dual
	</select>
	
	<insert id="write">
		insert into crp value(
			#{crpNo}, #{replyNo}, #{commuNo}
		)
	</insert>
	
	<select id="get">
		select * from crp where commu_no = #{commuNo}
	</select>
	
	<delete id="delete">
		delete from crp where reply_no = #{replyNo}
	</delete>
</mapper>