<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mei">
	
	<!-- 사진 추가 -->
	<insert id="regMei" parameterType="memberImageDTO">
		insert into mei
		values(
			#{meiNo}, #{imageNo}, #{memberNo}, #{imageDivision}
		)
	</insert>
	
	<!-- 단일조회 -->
	<select id="getMei" parameterType="int" resultType="memberImageDTO">
		select * from mei where image_no = #{imageNo}
	</select>
	
	<!-- 삭제하기 -->
	<delete id="deleteImage">
		delete mei where image_no = #{imageNo}
	</delete>
</mapper>