<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="member">
	
	<!-- 단일조회(로그인) -->
	<select id="get" parameterType="MemberDTO" resultType="MemberDTO">
		select * from member where email = #{email}
	</select>
	
	<!-- 회원가입 -->
	<insert id="join" parameterType="MemberJoinVO">
		insert into member(
			member_no, email, pw, nick,
			phone,birth, mbti, intro, corona, gender
		) values(
			#{memberNo}, #{email}, #{pw}, #{nick}, 
			#{phone}, #{birth}, #{mbti},#{intro}, #{corona}, #{gender}
		)
	</insert>
	
	<!-- 회원탈퇴(상태변경) -->
	<update id="quit" parameterType="String">
		update member set approve = 
		'N' where email = #{email}
	</update>

	<!-- 아이디찾기 -->
	<select id="findId" parameterType="map" resultType="MemberDTO">
		select * from member where nick = #{nick} and phone = #{phone}
	</select>
	
	<!-- 이메일 인증 -->
	<select id="memberNoByEmail" parameterType="String" resultType="int">
		select member_no from member where email = #{email}
	</select>
	
	<!-- 비밀번호 변경 -->
	<update id="changePw" parameterType="map">
		update member set pw = #{changePw}
		where email = #{email}
	</update>
	
	<!-- 단일조회(스트링) -->
	<select id = "get2" parameterType="String" resultType="MemberDTO">
		select * from member where email = #{email}
	</select>
	
	<!-- 아이디찾기 -->
	<select id="getNick" parameterType="int" resultType="String">
		select nick from member where member_no = #{memberNo}
	</select>
	
	<!-- 회원 목록 -->
	<select id="list" resultType="MemberDTO">
		select * from member
	</select>

</mapper>