<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="member">
	
	<!-- 단일조회(로그인) -->
	<select id="get" parameterType="String" resultType="MemberDTO">
		select * from member where email = #{email} 
	</select>
	
	<!-- 시퀀스 번호 가져오기 -->
	<select id="sequence">
		select member_seq.nextval from dual
	</select>
	
	<!-- 회원가입 -->
	<insert id="join" parameterType="MemberDto">
		insert into member(
			member_no, email, pw, nick,
			phone,birth, mbti, intro, corona, gender
		)
		values(
			#{memberNo}, #{email}, #{pw}, #{nick}, 
			#{phone}, #{birth}, #{mbti},#{intro} ,#{corona}, #{gender}
		)
	</insert>

	<select id="findId" parameterType="map" resultType="MemberDTO">
		select * from member where nick = #{nick} and phone = #{phone} <!-- and 
		substr(to_char(birth), 0, 10) = #{birth}; -->
	</select>

</mapper>