	<!-- 등록 -->
	<insert id="join" parameterType="MemberDTO">
		insert into member(
			member_no, email, pw, nick,
			phone,birth, mbti, intro, corona, gender
		)
		values(
			#{memberNo}, #{email}, #{pw}, #{nick}, 
			#{phone}, #{birth}, #{mbti},#{intro}, #{corona}, #{gender}
		)
	</insert>

	<select id="findId" parameterType="map" resultType="MemberDTO">
		select * from member where nick = #{nick} and phone = #{phone} 
	</select>

</mapper>