<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mi">
	
	<!-- 사진 추가 -->
	<insert id="regMi" parameterType="milesImageDTO">
		insert into mi
		values(
			#{miNo}, #{imageNo}, #{milesNo}, #{thumbnail}
		)
	</insert>
	
	<!-- 단일조회 -->
	<select id="getMi" parameterType="int" resultType="milesImageDTO">
		select * from mi where image_no = #{imageNo}
	</select>
	
	<!-- 삭제하기 -->
	<delete id="deleteImage">
		delete mi where image_no = #{imageNo}
	</delete>
</mapper>