<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="miles">
	
	<insert id="create" parameterType="MilesVO">
		insert into miles(
                miles_no, smallname, member_no,ad_no,
                name,context,area,viewyn
        )
        values(
            1, '축구',24,1,
            'kh모임','회식가야죠','서울특별시 영등포구','Y'
        );
	</insert>
	
</mapper>