<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="seq">

	<!-- 시퀀스 가져오기 -->
	<select id="getNext" parameterType="String" resultType="int">
		select ${seq_id}.nextval from dual
	</select>
		<!-- 시퀀스 가져오기 -->
	<select id="getNow" parameterType="String" resultType="int">
		select ${seq_id}.currval from dual
	</select>	

</mapper>