<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="smi">
	
	<!-- 사진 추가 -->
	<insert id="regSmi" parameterType="socialImageDTO">
		insert into smi
		values(
			#{smiNo}, #{imageNo}, #{socialNo}
		)
	</insert>
	
	<!-- 단일조회 -->
	<select id="getSmi" parameterType="int" resultType="socialImageDTO">
		select * from smi where image_no = #{imageNo}
	</select>
	
	<!-- 삭제하기 -->
	<delete id="deleteImage">
		delete smi where image_no = #{imageNo}
	</delete>
</mapper>