<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="social">

	<!-- 승인 등록 -->
	<!-- <insert id="insertSocial"  parameterType="socialDTO">
		insert into social values(
		#{socialNo},#{memberNo},#{mapNo}
		#{smallType},#{ad_no},#{name},
		#{type},#{context},#{startDate},
		#{)
	</insert> -->
	<delete id="deniedApproveMember" parameterType="int">
		delete from approve where member_no=#{memerNo} 
	</delete>
	<update id="regApproveMember2"  parameterType="ApproveDTO">
		update member set APPROVE = 'Y'
	</update>
	
</mapper>